@using SocialDemo.Models;

@{
  Layout= "_Layout";
}

<h1>Welcome to Social Demo</h1>
<hr>
@foreach (Post post in Model)
{
  <div class="postDiv">
    <div class="card">
      <div class="upvotes">
        <form action="Post/Upvote" method="Post">
          <input type="hidden" value="@post.PostId">
          <input type="submit" value="Upvote">
        </form>
        <p class="postScore" id="@post.PostId">@post.Upvotes</p>
      </div>
      <div class="card-body">
        <h5 class="card-title">@post.Title</h5>
        <p class="card-text">@post.Body</p>
        <a href="#" class="card-link">Comments</a>
        <a href="#" class="card-link">@post.Author</a>
        <p>@Html.ActionLink("Edit", "Edit", new { id = post.PostId })</p>
        <p>@post.PostId</p>
        @using (Html.BeginForm("Delete"))
        {
          <input type="text" value='@post.PostId'>
          <input type="submit">
        }
      </div>
    </div>
  </div>
}